@use 'variables' as v;


// @mixin heading($color:blue , $border-radius:false) {
//     //se pueden usar parametros como funciones y asignar valores por defecto con :
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: $color;
//     letter-spacing: 1px;
//     background-color:black;

//     @if border-radius{
//         border-radius:1rem;
//     }
// }

@mixin telefono{
    @media (min-width: v.$telefono){
        @content;
        //se coloca content para que no haya error al querer colocar parametros en el mq
    }
}
@mixin tablet{
    @media (min-width: v.$tablet){
        @content;
    }
}
@mixin desktop{
    @media (min-width: v.$desktop){
        @content;
    }
}
@mixin desktop{
    @media (min-width: v.$desktopXL){
        @content;
    }
}
@mixin grid($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin resetear-lista {
    margin:0;
    padding:0;
    list-style: none;   
}
